<!--
<div class="container">
	<h1 class="heading">Blog</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
	{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
-->
<div class="section services">
	<div class="collection-list-wrapper-3 w-dyn-list">
		<div class="collection-list-2 w-dyn-items">
			{{# each data.posts.results}}
				<div class="collection-item-3 latest w-dyn-item">
					<a href="{{postUrl slug}}" class="link-block-3 w-inline-block mdc-card--outlined">
						<img width="300" src="https://uploads-ssl.webflow.com/5c3da19f6891ba61711178f2/5c3da3426891bad08d117a1f_1547543360049-image11.jpg" alt="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 300px, 29vw" srcset="https://uploads-ssl.webflow.com/5c3da19f6891ba61711178f2/5c3da3426891bad08d117a1f_1547543360049-image11-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c3da19f6891ba61711178f2/5c3da3426891bad08d117a1f_1547543360049-image11.jpg 1300w" class="blog-image"/>
						<div class="blog-content-description other-blog-posts">
							<div class="category">{{# each categories}} {{name}} {{/each}}</div>
							<h3 class="blog-topic">{{{title}}}</h3>
							<div class="blog-post-date">{{{publishedDate}}}</div>
							<p class="blog-preview">{{content.brief}}</p>
						</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</div>
<div class="collection-list-wrapper-3 w-dyn-list">
	<div class="collection-list-2 w-dyn-items w-row">
		{{# each data.posts.results}}
			<div class="collection-item-3 w-dyn-item w-col w-col-4">
				<div class="collection-item-3 latest w-dyn-item">
					<a href="{{postUrl slug}}" class="other-link-block w-inline-block mdc-card--outlined">
						<img src="https://uploads-ssl.webflow.com/5c3da19f6891ba61711178f2/5c3da3426891bad08d117a1f_1547543360049-image11.jpg" alt="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 30vw, 33vw" srcset="https://uploads-ssl.webflow.com/5c3da19f6891ba61711178f2/5c3da3426891bad08d117a1f_1547543360049-image11-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c3da19f6891ba61711178f2/5c3da3426891bad08d117a1f_1547543360049-image11.jpg 1300w" class="blog-image other"/>
						<div class="blog-content-description other-blog-posts">
							<div class="category"> {{# each categories}} {{name}} {{/each}}</div>
							<h1 class="blog-topic other">{{title}}</h1>
							<div class="blog-post-date">{{publishedDate}}</div>
							<p class="blog-preview"> {{content.brief}}</p>
						</div>
					</a>
				</div>
			</div>
		{{/each}}
	</div>
</div>

<!--TODO: Load Images Dynamically -->
<!--TODO: fix Admin login on the link -->
<!--TODO: Retrieve Latest Post-->
<!--TODO: Add search functionality to Blog-->

